;===============================================================================
; Message Box
;===============================================================================

[Error Message Box Button]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
Ok		339	363	455	407	339	363	1	4	data/ui/ui_801.tga

[Normal Message Box Button]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
Ok		256	363	372	407	256	363	1	4	data/ui/ui_801.tga
Cancel		422	363	538	407	422	363	1	4	data/ui/ui_802.tga
