;===============================================================================
; Battle Room Page
;===============================================================================

[Main Button]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
Closed		213	309	231	330	213	309	1	4	data/ui/ui_305.tga
StartGame	404	351	556	387	404	351	1	4	data/ui/ui_301.tga
Ready		404	351	556	387	404	351	1	4	data/ui/ui_303.tga
Team		129	351	241	387	129	351	1	4	data/ui/ui_302.tga
암호변경		386	8	470	30	386	8	1	4	data/ui/ui_304.tga
Exit		679	560	791	596	679	560	1	4	data/ui/ui_207.tga

