;===============================================================================
; Clan
;===============================================================================

[Button]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
Close		335	526	451	570	335	526	1	4	data/ui/ui_804.tga
