;===============================================================================
; 쉼표이벤트
;===============================================================================

[Button]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
닫기		416	429	532	473	416	429	1	4	data/ui/ui_804.tga
확인하러가기	264	429	415	473	264	429	1	4	data/ui/ui_818.tga

