;===============================================================================
; Sun
;===============================================================================

[Main EditBox]
;===============================================================================
;		Collision Rect & Draw Position
;Description	Left	Top	Right	Bottom	
;===============================================================================
recommend	119	304	211	320

[Button]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
Close		335	507	451	551	335	507	1	4	data/ui/ui_804.tga

