[Main Button]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
동의함		212	523	393	567	212	523	1	4	data/ui/ui_819.tga
동의안함		404	523	586	567	404	523	1	4	data/ui/ui_820.tga
닫기		335	523	451	567	335	523	1	4	data/ui/ui_804.tga

