;===============================================================================
; Inventory Management
;===============================================================================

[Main Button]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
Wear		480	517	536	539	480	517	1	4	data/ui/ui_702.tga
OpenStash	683	347	775	367	683	347	1	4	data/ui/ui_btn_stash_open.dds
CloseStash	683	347	775	367	683	347	1	4	data/ui/ui_btn_stash_close.dds
Cash		408	560	520	596	408	560	1	4	data/ui/ui_411.tga
새로고침		534	560	614	596	534	560	1	4	data/ui/ui_411a.tga
AttachRemove	563	307	633	328	563	307	1	4	data/ui/ui_705.tga
PackRemove	563	307	633	328	563	307	1	4	data/ui/ui_705.tga
AddItem		455	 86	591	119	455	 86	1	4	data/ui/ui_btn_stash_import.dds			
MinusItem	610	 86	746	119	610	 86	1	4	data/ui/ui_btn_stash_export.dds
Ok		480	275	603	319	480	275	1	4	data/ui/ui_801.tga
Cancel		605	275	728	319	605	275	1	4	data/ui/ui_802.tga

[Tab Button]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
파츠		414	16	498	44
액세서리	499	16	583	44
장착팩		584	16	668	44
스페셜		669	16	754	44

[Sub Tab - Parts ]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================

[Sub Tab - Acce ]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================

[Sub Tab - Pack ]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================

[Sub Tab - Special ]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
조합		422	48	471	73
우대권		472	48	531	73
게임		532	48	604	73
효과		605	48	666	73

[Armory Slot]
;===============================================================================
;Description	Left	Top	Right	Bottom	File
;===============================================================================
Slot1		421	376	481	436
Slot2		494	376	554	436
Slot3		567	376	627	436
Slot4		640	376	700	436
Slot5		712	376	772	436
Slot6		421	446	481	506
Slot7		494	446	554	506
Slot8		567	446	627	506
Slot9		640	446	700	506
Slot10		712	446	772	506
Slot11		421	376	481	436
Slot12		494	376	554	436
Slot13		567	376	627	436
Slot14		640	376	700	436
Slot15		712	376	772	436
Slot16		421	446	481	506
Slot17		494	446	554	506
Slot18		567	446	627	506
Slot19		640	446	700	506
Slot20		712	446	772	506
[Armory Tap]
;===============================================================================
;Description	Left	Top	Right	Bottom	File
;===============================================================================
Slot1		421	350	481	380
Slot2		494	350	554	380


[Parts Slot]
;===============================================================================
;Description	Left	Top	Right	Bottom	File
;===============================================================================
Slot1		422	54	481	113
Slot2		422	127	481	186
Slot3		422	200	481	259

[OverParts Slot]
;===============================================================================
;Description	Left	Top	Right	Bottom	File
;===============================================================================
Slot1		422	54	481	113
;Slot2		422	127	481	186
;Slot3		422	200	481	259

[Accessaries Slot]
;===============================================================================
;Description	Left	Top	Right	Bottom	File
;===============================================================================
Slot1		422	54	481	113
Slot2		422	127	481	186
Slot3		422	200	481	259
Slot4		422	271	481	330
Slot5		714	54	773	113
Slot6		714	127	773	186
Slot7		714	200	773	259
Slot8		714	271	773	330

[OverAcce Slot]
;===============================================================================
;Description	Left	Top	Right	Bottom	File
;===============================================================================
Slot1		422	54	481	113
;Slot2		422	127	481	186
;Slot3		422	200	481	259
;Slot4		422	271	481	330
;Slot5		714	54	773	113
;Slot6		714	127	773	186
;Slot7		714	200	773	259

[Pack Slot]
;===============================================================================
;Description	Left	Top	Right	Bottom	File
;===============================================================================
Slot1		422	54	481	113
Slot2		422	127	481	186
Slot3		714	127	773	186
Slot4		714	54	773	113
Slot5		422	200	481	259
Slot6		422	271	481	330

[Motion Slot]
;===============================================================================
;Description	Left	Top	Right	Bottom	File
;===============================================================================
Slot1		419	78	483	142
Slot2		419	172	483	236
Slot3		419	266	483	330
Slot4		703	58	767	122
Slot5		703	130	767	194
Slot6		703	202	767	266
Slot7		703	274	767	338

[MixBox Slot]
;===============================================================================
;Description	Left	Top	Right	Bottom	File
;===============================================================================
Slot1		471	138	530	197
Slot2		568	138	627	197
Slot3		670	138	729	197

[TransCharacter Button]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
Hypersuit	445	105	543	150	445	105	1	4	data/ui/ui_122a.tga
Azonas		445	153	543	198	445	153	1	4	data/ui/ui_123a.tga
Geren		445	201	543	246	445	201	1	4	data/ui/ui_124a.tga
TransOK		540	275	656	320	540	275	1	4	data/ui/ui_801.tga

