;===============================================================================
; Input Data
;===============================================================================

[Button]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
Ok		255	363	371	407	255	363	1	4	data/ui/ui_801.tga
Cancel		420	363	536	407	420	363	1	4	data/ui/ui_802.tga

[Ohter]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
TextBox		225	240	585	283
EditBox		441	306	561	320
