;===============================================================================
; Option
;===============================================================================

[Button]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
Closed		335	388	451	432	335	388	1	4	data/ui/ui_804.tga
Default		497	392	572	432	497	392	1	4	data/ui/ui_815.tga
BlockAdd	457	265	532	305	457	265	1	4	data/ui/ui_btn_add.dds
BlockDelete	457	310	532	350	457	310	1	4	data/ui/ui_btn_delete.dds

[Tab Button]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
Sound		173	181	262	214
Graphic		263	181	352	214
Macro		353	181	442	214
Control		443	181	532	214
Block		533	181	622	214

[EditBox]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
F5		275	266	569	280
F6		275	299	569	313
F7		275	332	569	346
F8		275	365	569	379