6					
ui_play_text_tover_01.tga					
ui_play_text_tover_02.tga					
ui_play_text_tover_03.tga					
ui_play_text_tover_04.tga					
ui_play_text_tover_05.tga					
ui_play_text_tover_06.tga					





					
					
					
					
					














					


																	
																	


																	


																	


																	


																	



																	
																	


																	


																	


																	


																	



																	
																	


																	


																	


																	


																	



																	
																	


																	


																	


																	


																	



																	
																	


																	


																	


																	


																	



																	
																	


																	


																	


																	


																	
