6
ui_play_text_lose_01.tga
ui_play_text_lose_02.tga
ui_play_text_lose_03.tga
ui_play_text_lose_04.tga
ui_play_text_lose_05.tga
ui_play_text_lose_06.tga










































																	


																	
																	


																	


																	


																	


																	



																	
																	


																	


																	


																	


																	



																	
																	


																	


																	


																	


																	



																	
																	


																	


																	


																	


																	



																	
																	


																	


																	


																	


																	



																	
																	


																	


																	


																	


																	
