;===============================================================================
; Sun
;===============================================================================

[Main EditBox]
;===============================================================================
;		Collision Rect & Draw Position
;Description	Left	Top	Right	Bottom	
;===============================================================================
recommend	445	471	560	482

[Button]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
Close		335	527	451	571	335	527	1	4	data/ui/ui_804.tga
;Recommend	567	465	622	487	567	465	1	4	data/ui/ui_242.tga

