;===============================================================================
; Rank
;===============================================================================

[Button]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
Close		335	513	451	558	335	513	1	4	data/ui/ui_804.tga
