;===============================================================================
; GameRoom Player Slot
;===============================================================================

[Player Slot]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
Slot01		247	40	382	187	247	40	1	3	data/ui/ui_307.tga
Slot02		385	40	520	187	385	40	1	3	data/ui/ui_307.tga
Slot03		523	40	658	187	523	40	1	3	data/ui/ui_307.tga
Slot04		661	40	796	187	661	40	1	3	data/ui/ui_307.tga
Slot05		247	190	382	337	247	190	1	3	data/ui/ui_307.tga
Slot06		385	190	520	337	385	190	1	3	data/ui/ui_307.tga
Slot07		523	190	658	337	523	190	1	3	data/ui/ui_307.tga
Slot08		661	190	796	337	661	190	1	3	data/ui/ui_307.tga

