;===============================================================================
; Sun
;===============================================================================

[Main EditBox]
;===============================================================================
;		Collision Rect & Draw Position
;Description	Left	Top	Right	Bottom	
;===============================================================================
recommend	119	304	211	320

[Button]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
Close		121	543	237	587	123	543	1	4	data/ui/ui_804.tga
;ArmoryPrevPage	538	48	548	68	538	48	4	1	data/ui/ui_703.tga
;ArmoryNextPage	631	48	641	68	631	48	4	1	data/ui/ui_704.tga
Add		379	227	487	260	379	227	1	4	data/ui/ui_trade_btn_invtotrade.dds
Ready1		199	452	354	483	199	452	1	4	data/ui/ui_trade_btn_mycomplete1.dds
Ready2		199	452	354	483	199	452	1	4	data/ui/ui_trade_btn_mycomplete2.dds
Ok1		199	485	354	516	199	485	1	4	data/ui/ui_trade_btn_myaccept1.dds
Ok2		199	485	354	516	199	485	1	4	data/ui/ui_trade_btn_myaccept2.dds
Reset		232	267	302	288	232	267	1	4	data/ui/ui_trade_btn_reset.dds
InputMoney	294	341	335	362	294	341	1	4	data/ui/ui_trade_btn_input.dds
InputOil		294	416	335	437	294	416	1	4	data/ui/ui_trade_btn_input.dds

[Armory Slot]
;===============================================================================
;Description	Left	Top	Right	Bottom	File
;===============================================================================
Slot1			385	78	444	137
Slot2			469	78	528	137
Slot3			552	78	611	137
Slot4			636	78	695	137
Slot5			717	78	776	137
Slot6			385	157	444	216
Slot7			469	157	528	216
Slot8			552	157	611	216
Slot9			636	157	695	216
Slot10			717	157	776	216
Slot11			385	78	444	137
Slot12			469	78	528	137
Slot13			552	78	611	137
Slot14			636	78	695	137
Slot15			717	78	776	137
Slot16			385	157	444	216
Slot17			469	157	528	216
Slot18			552	157	611	216
Slot19			636	157	695	216
Slot20			717	157	776	216
[Armory TAP]
Slot1			385	46	444	66
Slot2			469	46	528	66


[Trade - Player Slot]
;===============================================================================
;Description	Left	Top	Right	Bottom	File
;===============================================================================
Slot1			203	130	262	189
Slot2			273	161	332	220
Slot3			203	196	262	255

[Trade - Target Slot]
;===============================================================================
;Description	Left	Top	Right	Bottom	File
;===============================================================================
Slot1			98	130	157	189
Slot2			31	161	90	220
Slot3			98	196	157	255
