;===============================================================================
; UserInfo View
;===============================================================================

[Main Button]
;===============================================================================
;		Collision Rect			Draw Position	Image Piece	
;Description	Left	Top	Right	Bottom	X	Y	X	Y	File
;===============================================================================
Closed		338	424	454	468	338	424	1	4	data/ui/ui_804.tga

